## Car Price Prediction

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [4]:
df=pd.read_csv('Cardetails.csv')

#Data Preprocessiong

df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [5]:
#Describes descriptive statistics
df.describe()

              year  selling_price     km_driven        seats
count  8128.000000   8.128000e+03  8.128000e+03  7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04     5.416719
std       4.044249   8.062534e+05  5.655055e+04     0.959588
min    1983.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.549990e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.750000e+05  9.800000e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

In [6]:
#Checks for num value in DataFrame
print(df.isnull().sum())

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [7]:
#Shape of dataframe in row x column
df.shape

(8128, 13)

In [8]:
#Mileage,Engine,max_power Consist of string values and integer value
#Converting this value to int value by removing string

df['mileage']=df['mileage'].str.split(' ').str[0]
df['engine']=df['engine'].str.split(' ').str[0]
df['max_power']=df['max_power'].str.split(' ').str[0]
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,74,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,78,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,90,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,88.2,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5,1197,82.85,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8,1493,110,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3,1248,73.9,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396,70,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396,70,140Nm@ 1800-3000rpm,5.0

In [9]:
df.drop(columns=['torque'])
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4,1248,74,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7,1497,78,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0,1396,90,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1,1298,88.2,"11.5@ 4,500(kgm@ rpm)",5.0

In [10]:
#Converting string value to float
df['mileage']=df['mileage'].astype(float)
df['engine']=df['engine'].astype(float)

In [11]:
# Handling missing values
df['mileage']=df['mileage'].fillna(df['mileage'].mean())
df['engine']=df['engine'].fillna(df['engine'].mean())
df['max_power']=df['max_power'].fillna(df['max_power'].mode()[0])
df['seats']=df['seats'].fillna(df['seats'].mean())

In [12]:
#Checks for null value
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage            0
engine             0
max_power          0
torque           222
seats              0
dtype: int64

In [13]:
print(df.duplicated().sum())

1202

In [14]:
#removing duplicates value
df=df.drop_duplicates()
print(df.duplicated().sum())

0

In [15]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8121,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000,Petrol,Individual,Manual,Second Owner,18.90,998.0,67.1,90Nm@ 3500rpm,5.0
8122,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000,Diesel,Individual,Manual,Second Owner,22.54,1396.0,88.73,219.7Nm@ 1500-2750rpm,5.0
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.9,190Nm@ 2000rpm,5.0

In [16]:
#Label Encoding for categorical datas

Encode=LabelEncoder()
df['fuel']=Encode.fit_transform(df['fuel']) #0- 1- 2- 3-
df['seller_type']=Encode.fit_transform(df['seller_type']) #0- 1-
df['owner']=Encode.fit_transform(df['owner']) #0-First 1-Fourth and avove 2-Second 3- 4-
df['transmission']=Encode.fit_transform(df['transmission']) #0- 1-
print(df)

                                   name  year  selling_price  km_driven  fuel  \
0                Maruti Swift Dzire VDI  2014         450000     145500     1
1          Skoda Rapid 1.5 TDI Ambition  2014         370000     120000     1
2              Honda City 2017-2020 EXi  2006         158000     140000     3
3             Hyundai i20 Sportz Diesel  2010         225000     127000     1
4                Maruti Swift VXI BSIII  2007         130000     120000     3
...                                 ...   ...            ...        ...   ...
8121  Maruti Wagon R VXI BS IV with ABS  2013         260000      50000     3
8122         Hyundai i20 Magna 1.4 CRDi  2014         475000      80000     1
8123                  Hyundai i20 Magna  2013         320000     110000     3
8124              Hyundai Verna CRDi SX  2007         135000     119000     1
8125             Maruti Swift Dzire ZDi  2009         382000     120000     1

      seller_type  transmission  owner  mileage  engine max_power  \
0               1             1      0    23.40  1248.0        74
1               1             1      2    21.14  1498.0    103.52
2               1             1      4    17.70  1497.0        78
3               1             1      0    23.00  1396.0        90
4               1             1      0    16.10  1298.0      88.2
...           ...           ...    ...      ...     ...       ...
8121            1             1      2    18.90   998.0      67.1
8122            1             1      2    22.54  1396.0     88.73
8123            1             1      0    18.50  1197.0     82.85
8124            1             1      1    16.80  1493.0       110
8125            1             1      0    19.30  1248.0      73.9

                         torque  seats
0                190Nm@ 2000rpm    5.0
1           250Nm@ 1500-2500rpm    5.0
2         12.7@ 2,700(kgm@ rpm)    5.0
3      22.4 kgm at 1750-2750rpm    5.0
4         11.5@ 4,500(kgm@ rpm)    5.0
...                         ...    ...
8121              90Nm@ 3500rpm    5.0
8122      219.7Nm@ 1500-2750rpm    5.0
8123           113.7Nm@ 4000rpm    5.0
8124  24@ 1,900-2,750(kgm@ rpm)    5.0
8125             190Nm@ 2000rpm    5.0

[6926 rows x 13 columns]

/tmp/ipykernel_6995/2294215511.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel']=Encode.fit_transform(df['fuel']) #0- 1- 2- 3-
/tmp/ipykernel_6995/2294215511.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['seller_type']=Encode.fit_transform(df['seller_type']) #0- 1-
/tmp/ipykernel_6995/2294215511.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['owner']=Encode.fit_transform(df['owner']) #0-First 1-Fourth and avove 2-Second 3- 4-
/tmp/ipykernel_6995/2294215511.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['transmission']=Encode.fit_transform(df['transmission']) #0- 1-

In [19]:
df['name']=df['name'].str.split(' ').str[0]
df.head()

/tmp/ipykernel_6995/3417655768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['name']=df['name'].str.split(' ').str[0]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti,2014,450000,145500,1,1,1,0,23.40,1248.0,74,190Nm@ 2000rpm,5.0
1,Skoda,2014,370000,120000,1,1,1,2,21.14,1498.0,103.52,250Nm@ 1500-2500rpm,5.0
2,Honda,2006,158000,140000,3,1,1,4,17.70,1497.0,78,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai,2010,225000,127000,1,1,1,0,23.00,1396.0,90,22.4 kgm at 1750-2750rpm,5.0
4,Maruti,2007,130000,120000,3,1,1,0,16.10,1298.0,88.2,"11.5@ 4,500(kgm@ rpm)",5.0